<div>
  Points to review:
  <ul>
    <li>2 Rows header</li>
    <li>Scroll body only</li>
    <li>Multi sort</li>
    <li>In header filters</li>
    <li>Filter by: category, text and range</li>
    <li>Custom html (Pipes,class by row data and more)</li>
    <li>Lazy Load</li>
  </ul>
</div>

<h4>
  Raw Data:
</h4>
<ul>
  <li *ngFor="let character of characters" class="col-1-4">
    <div>
      <h4>{{character.name}}</h4>
      <p>
        Id: {{character.id}}
        Type: {{character.type}}
        Description: {{character.description}}
      </p>
    </div>
  </li >
</ul>
